.game-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  .timer-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    .title-block {
      display: flex;
      gap: 16px;
      align-items: center;
      .symbol {
        font-size: 56px;
      }
    }
    .timer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
      &-text {
        font-size: 32px;
        line-height: 1;
      }
    }
  }
  .last-results {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    .result-item {
      display: flex;
      align-items: center;
      gap: 16px;
      .result-value {
        font-size: 24px;
        line-height: 1;
      }
    }
  }
  .question {
    font-size: 40px;
    display: flex;
    justify-content: center;
    line-height: 1;
  }
  .answer-box {
    display: flex;
    justify-content: space-around;
    gap: 16px;
    flex-wrap: wrap;
    .answer-btn {
      width: 46%;
      height: fit-content;
      padding: 16px;
      font-size: 40px;
    }
  }
  .scores {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    .score-card {
      width: 48%;
      &-content {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
        .score {
          font-size: 48px;
          line-height: 1;
        }
      }
    }
  }
}
