<div class="game-container">
  <div class="timer-box">
    <div>
      @if (!isGameStarted()) {
      <button mat-stroked-button (click)="startCountDown()">
        <mat-icon>play_arrow</mat-icon>
        Start
      </button>
      }
    </div>
    <mat-card appearance="outlined">
      <mat-card-content>
        <div class="timer">
          @if (isGameStarted()) {
          <mat-icon [class]="timerClasses()">hourglass_top</mat-icon>
          }
          <span class="timer-text">{{ duration() }}</span>
          @if (!isGameStarted()) {
          <span>sec.</span>
          }
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  @if (!isGameStarted()) {
  <mat-card appearance="outlined">
    <mat-card-content>
      <div>Press start button to begin the game.</div>
    </mat-card-content>
  </mat-card>
  } @else {
  <mat-card appearance="outlined">
    <mat-card-content>
      <div class="question">{{ questionString() }}</div>
    </mat-card-content>
  </mat-card>
  <mat-card appearance="outlined">
    <mat-card-content class="answer-box">
      @for (answer of answers(); track $index) {
      <button
        mat-stroked-button
        class="answer-btn"
        (click)="selectAnswer(answer)"
      >
        {{ answer.value }}
      </button>
      }
    </mat-card-content>
  </mat-card>
  <div class="scores">
    <mat-card appearance="outlined" class="score-card">
      <mat-card-content class="score-card-content">
        <span class="score-label">Incorrect</span>
        <span class="score aritrain-red">{{ incorrectAnswers() }}</span>
      </mat-card-content>
    </mat-card>
    <mat-card appearance="outlined" class="score-card">
      <mat-card-content class="score-card-content">
        <span class="score-label">Correct</span>
        <span class="score aritrain-green">{{ correctAnswers() }}</span>
      </mat-card-content>
    </mat-card>
  </div>
  }
</div>
