<div class="game-container">
  <div class="timer-box">
    <div class="title-block">
      <div>
        <span
          [class]="
            'gupta-go-' + getOperationConfigs(gameData().id).color + ' symbol'
          "
        >
          {{ getOperationConfigs(gameData().id).text }}
        </span>
      </div>
      <div class="title">{{ gameData().levelTitle }}</div>
    </div>
    <mat-card appearance="outlined">
      <mat-card-content>
        <div class="timer">
          @if (isGameStarted()) {
          <mat-icon [class]="timerClasses()">hourglass_top</mat-icon>
          }
          <span class="timer-text">{{ duration() }}</span>
          @if (!isGameStarted()) {
          <span>sec.</span>
          }
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-divider></mat-divider>
  @if (!isGameStarted()) {
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Last Game Results</mat-card-title>
    </mat-card-header>
    <mat-card-content class="last-results">
      <div class="result-item">
        <div>Total answers:</div>
        <div class="result-value">{{ results.total }}</div>
      </div>
      <div class="result-item">
        <div>Correct answers:</div>
        <div class="result-value gupta-go-green">{{ results.correct }}</div>
      </div>
      <div class="result-item">
        <div>Incorrect answers:</div>
        <div class="result-value gupta-go-red">{{ results.incorrect }}</div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-divider></mat-divider>
  <button mat-stroked-button (click)="startCountDown()">
    <mat-icon>play_arrow</mat-icon>
    Start
  </button>
  } @else {
  <mat-card appearance="outlined">
    <mat-card-content>
      <div class="question">{{ questionString() }}</div>
    </mat-card-content>
  </mat-card>
  <mat-card appearance="outlined">
    <mat-card-content class="answer-box">
      @for (answer of answers(); track $index) {
      <button
        mat-stroked-button
        class="answer-btn"
        (click)="selectAnswer(answer)"
      >
        {{ answer.value }}
      </button>
      }
    </mat-card-content>
  </mat-card>
  <div class="scores">
    <mat-card appearance="outlined" class="score-card">
      <mat-card-content class="score-card-content">
        <span class="score-label">Incorrect</span>
        <span class="score gupta-go-red">{{ incorrectAnswers() }}</span>
      </mat-card-content>
    </mat-card>
    <mat-card appearance="outlined" class="score-card">
      <mat-card-content class="score-card-content">
        <span class="score-label">Correct</span>
        <span class="score gupta-go-green">{{ correctAnswers() }}</span>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-divider></mat-divider>
  <button mat-stroked-button (click)="restartGame()">
    <mat-icon>refresh</mat-icon>
    Restart Game
  </button>
  }
</div>
