<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>About Gupta Go!</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Gupta Go! is an arithmetic game that helps you improve your mental math
      skills. It is a fun way to practice your math skills and challenge
      yourself to get better.
    </p>
    <p>
      The game is simple. You will be presented with a series of arithmetic
      questions. You will have to answer them as quickly as possible. The faster
      you answer, the more points you will get.
    </p>
    <p>
      Each game has a 60-second time limit, testing not only your math skills
      but also your ability to quickly orientate and respond under pressure.
    </p>
    <p>
      The game is designed to be challenging and fun. It will test your math
      skills and help you improve them. So, get ready to play and see how good
      you are at math!
    </p>
    <p>
      The name "Gupta Go!" was inspired by the great mathematician Brahmagupta,
      often referred to as the father of arithmetic. His contributions to
      mathematics have paved the way for many advancements in the field.
    </p>
    <img src="assets/images/brahmagupta.png" alt="Brahmagupta" />
    <p>
      We are immensely thankful to Brahmagupta for his groundbreaking work and
      dedication to the world of mathematics. His legacy continues to inspire
      and educate generations.
    </p>
  </mat-card-content>
</mat-card>
