<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>About Aritrain</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Aritrain is an arithmetic game that helps you improve your mental math
      skills. It is a fun way to practice your math skills and challenge
      yourself to get better.
    </p>
    <p>
      The game is simple. You will be presented with a series of arithmetic
      questions. You will have to answer them as quickly as possible. The faster
      you answer, the more points you will get.
    </p>
    <p>
      Each game has a 60-second time limit, testing not only your math skills
      but also your ability to quickly orientate and respond under pressure.
    </p>
    <p>
      The game is designed to be challenging and fun. It will test your math
      skills and help you improve them. So, get ready to play and see how good
      you are at math!
    </p>
  </mat-card-content>
</mat-card>
