.levels {
  display: flex;
  flex-direction: column;
  gap: 16px;
  .level-ripple {
    border-radius: 12px;
    &:hover {
      cursor: pointer;
    }
    .open-button {
      display: flex;
      align-self: center;
    }
  }
}
