<div class="game-header">
  <h2>{{ levelData().name }}</h2>
  <span>{{ levelData().title }}</span>
</div>
<div class="games-container">
  @for (game of levelData().games; track game.id) {
  <mat-card appearance="outlined" class="game-item">
    <mat-card-content class="item-content">
      <div class="symbol-block">
        <span
          [class]="'aritrain-' + gerOperationConfigs(game.id).color + ' symbol'"
        >
          {{ gerOperationConfigs(game.id).text }}
        </span>
      </div>
      <button mat-stroked-button (click)="openGame(game.id)">Play</button>
    </mat-card-content>
  </mat-card>
  }
</div>
