<div class="game-header">
    <h1>{{levelData().name}}</h1>
</div>
<div class="games-container">
  @for (game of levelData().games; track game.id) {
  <mat-card appearance="outlined" (click)="openGame(game.id)" class="game-item">
    <mat-card-content class="item-content">
      <div class="item-top">
        <mat-icon>{{ getOperationIcon(game.id) }}</mat-icon>
        {{ game.id | titlecase }}
      </div>
      <button mat-fab aria-label="Play game" class="play-button">
        <mat-icon class="play-icon">play_circle_outline</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>
  }
</div>
