.game-header {
  display: flex;
  justify-content: center;
}
.games-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 24px;
  .game-item {
    width: 40%;
    .item-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
    }
  }
}
