<div class="game-header">
  <h2>{{ levelData().title }}</h2>
</div>
<div class="games-container">
  @for (game of levelData().games; track $index) {
  <mat-card appearance="outlined" class="game-item">
    <mat-card-content class="item-content">
      <div class="symbol-block">
        <span
          [class]="'aritrain-' + getOperationConfigs(game.id).color + ' symbol'"
        >
          {{ getOperationConfigs(game.id).text }}
        </span>
      </div>
      <button
        mat-stroked-button
        (click)="openGame(game.id)"
        [disabled]="!isGameUnlocked($index)"
      >
        @if (!isGameUnlocked($index)) {
        <mat-icon>lock</mat-icon>
        } Play
      </button>
    </mat-card-content>
  </mat-card>
  }
</div>
