<mat-toolbar class="main-header">
  <div class="main-header-section">
    @if (isHomeRoute()) {
    <button mat-icon-button aria-label="Menu button" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon></button
    >} @else {
    <button mat-icon-button aria-label="Back button" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    }
  </div>
  <div class="main-header-section">
    <span class="app-title">AriTrain</span>
  </div>
  <div class="main-header-section">
    <button
      mat-icon-button
      (click)="toggleTheme()"
      matTooltip="Switch theme"
      aria-label="Switch theme button"
    >
      @if (isDarkMode) {
      <mat-icon>light_mode</mat-icon>
      } @else {
      <mat-icon>dark_mode</mat-icon>
      }
    </button>
  </div>
</mat-toolbar>
<mat-divider></mat-divider>
<mat-drawer-container class="main-container">
  <mat-drawer #drawer class="main-sidenav" mode="over" opened="false">
    <div class="main-sidenav-top">
      <app-sidebar [drawer]="drawer"></app-sidebar>
    </div>
    <span>Version: {{ appVersion }}</span>
  </mat-drawer>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
