.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-section {
    display: flex;
    align-items: center;
    gap: 8px;
    .app-title {
      font-weight: 500;
      line-height: normal;
    }
  }
}
.main-container {
  height: calc(100% - 57px);
  .main-sidenav {
    padding: 8px 16px;
    .menu-divider {
      padding: 8px 0;
    }
  }
  .main-content {
    max-width: 720px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 16px;
  }
}

@media screen and (min-width: 600px) {
  .main-container {
    height: calc(100% - 65px);
  }
}
